.wrapper {
    max-width: 640px;
    border: 1px solid #DADDE1;
    border-radius: 10px;
    padding: 32px;
}

.booking_form {
  display: flex;
  flex-direction: column;

  gap: 16px;
  max-width: 576px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.text {
    color: #8D929A;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 24px;
}

.input,
.textarea {
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background-color: #F7F7F7;
  color: #8D929A;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.input {
    border-radius: 12px;
    padding: 12px 20px;
    width: 576px;
    height: 48px;
    background: #f7f7f7;
    border: none;
    outline: none;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #8d929a;

}
.textarea {
    margin-bottom: 16px;
    height: 88px;
    outline: none;
}

.button {
  background-color: #3470FF;
  color: #FFFFFF;
  border: none;
  padding: 12px 58px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.button:hover {
  background-color: #0B44CD;
}



.customArrow {
    width: 24px;
    height: 20px;
    border: none;
    background: transparent;
}

.headerCalendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.span {
    font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #101828;
}
