.wrapper {
    max-width: 640px;
    border: 1px solid #DADDE1;
    border-radius: 10px;
    padding: 32px;
}

.booking_form {
  display: flex;
  flex-direction: column;

  gap: 16px;
  max-width: 576px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.text {
    color: #8D929A;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 24px;
}

.input,
.textarea {
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background-color: #F7F7F7;
  color: #8D929A;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
.textarea {
    margin-bottom: 16px;
    height: 88px;
}

.button {
  background-color: #3470FF;
  color: #FFFFFF;
  border: none;
  padding: 12px 58px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.button:hover {
  background-color: #0B44CD;
}



/* Календар */
/* .calendar {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #3470FF;
  min-width: 276px;
  min-height: 284px;
}

.calendar :global(.react-datepicker__header) {
/*
  background: #FFFFFF;
  border-bottom: none;
  padding-bottom: 8px;
  position: relative;
}

.calendar :global(.react-datepicker__header)::after {
    content: "";
    display: block;
    width: 108%;
    height: 1px;
    background-color: #3470FF;
    position: absolute;
    bottom: 0;
    left: -12px;
  }

.calendar :global(.react-datepicker__current-month) {
  font-weight: 600;
  font-family: Inter;
  font-size: 16px;
  line-height: 120%;
}
.calendar :global(.react-datepicker__day) {
  color: #101828;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  width: 36px;
  height: 32px;
}
.calendar :global(.react-datepicker__day--today) {
  font-weight: 700;
  background-color: #3470FF;
  border-radius: 50%;
  color: #F7F7F7;
}

.calendar :global(.react-datepicker__day:hover) {
  background-color: #0B44CD;
}

.calendar :global(.react-datepicker__navigation-icon--next::before) {
    margin-top: 5px;
    width: 24px;
    height: 24px;

}

???????????????????????????????????????????????????????????

.react-datepicker {
    border: 1px solid #3470ff;
    border-radius: 12px;
    overflow: hidden;

}
.react-datepicker__header {
    border-bottom: none;
    background: transparent;
    padding: 12px 0 0 0;
}
.react-datepicker__current-month {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #101828;
}
.react-datepicker__week {
    display: flex;


}
.react-datepicker__day{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101828;
    width: 36px;
    height: 32px;
    border-radius: 32px;
    transition: color 0.8s ease, background 0.8s ease;
}

.react-datepicker__month .react-datepicker__day:hover {
  border-radius: 32px;
  background: #8E929A;
  color: #fff;
}
.react-datepicker__day-names {
    border-bottom: 1px solid #3470ff;
    padding: 12px;
    display: flex;
    justify-content: space-between;

}
.react-datepicker__day-name{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: #8d929a;
    text-transform: uppercase;


}
.react-datepicker__navigation {
    top: 8px;
}

.react-datepicker__month {
    padding-top: 12px;
}
.react-datepicker__day--outside-month {
    color: #8d929a;
}
.react-datepicker__day--selected {
    background: #0B44CD;
    color: #fff;
    transition: color 0.8s ease, background 0.8s ease;
}
.react-datepicker__month .react-datepicker__day--selected:hover {
    background: #8E929A;
    color: #fff;
}
.react-datepicker__day--keyboard-selected {
    background: transparent;

}
 .react-datepicker__day--today {
    background: #3470ff;
        color: #fff;
        transition: background 0.8s ease;
}
.react-datepicker__month  .react-datepicker__day--today:hover {
     background: #0B44CD;

} *!??????????????????????????????????????????????????????????? */